.FormControlLabel-root-isTitle {
  margin-left: 0 !important;
}

.FormControlLabel-root-isTitle .MuiFormControlLabel-label,
h3 {
  color: #2d2d2d;
  /* font-size: 1.7143rem !important; */
}
h3 {
  line-height: 1.5 !important;
}

.logo-section {
  height: auto;
}

.MuiDialogTitle-root .MuiTypography-h6 {
  color: #2d2d2d;
}

.logo-section {
  height: 228px;
}

.logo-placeholder {
  height: 200px;
  width: 100%;
  max-width: 200px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
